/unet_project/__pycache__/
/unet_project/tex
/unet_project/data/

/unet_project_2/__pycache__/
/unet_project_2/data_pet/*
/unet_project_2/tex/
/unet_project_2/data_pet/
/unet_project_2/var

*.log
*.pth
*.tar.gz
*.zip

nohup.out